.wp-header {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.search-bar-container {
    display: flex;  
    position: relative;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-top: 0;
    width: 100%;
    justify-content: center;
    background-color: transparent;
}

.search-bar {
    width: 60%;
}

.search-bar input {
    width: 87%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.search-bar button {
    padding: 10px 15px;
    font-size: 16px;
    margin-left: 10px;
    background-color: #7c5a9d;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #5e3f7a;
    transform: scale(1.05)
}

.workforce-planning {
    background: linear-gradient(to right, #745c94, #83c5f0);
    min-height: 100vh;
    padding: 50px 0;
}

.results-info {
    position: relative;
    text-align: center;
    color: white;
    z-index: 997;
    padding: 5vh 0 0 0;
}

.save-button {
    font-size: 16px;
    background-color: #7c5a9d;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.save-button:hover {
    background-color: #5e3f7a;
    transform: scale(1.05)
}

.graph-container {
    position: relative;
    margin-top: 10vh;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.chart-container {
    width: 75%;
    margin: 0 auto;
    text-align: center;
  }

  .chart-container canvas {
    width: 100% !important;
  }

.toggle-button {
    padding: 10px 20px;
    background-color: #7cafd1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .toggle-button:hover {
    background-color: #6ea0c2;
    transform: scale(1.05);
  }

  hr {
    opacity: 50%;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .skill-extractor {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }

  .skills-container a {
    color: #518bb3;
  }

  .skill-extractor h2 {
    color: white;
    margin-top: 8vh;
  }

  .skill-extractor textarea {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 1000px;
  }
  
  .skill-extractor button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #7cafd1;
    color: #fff;
    cursor: pointer;
    margin-bottom: 40px;
  }

  .skill-extractor button:hover {
    background-color: #6ea0c2;
    transform: scale(1.05);
  }

  .skill-item {
    flex: 1 0 30%;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: left;
    border: solid #7cafd1;
  }

  .skill-description {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .buffer {
    margin-top: 10px;
    color: white;
  }