.graphContainer {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleContainer {
    display: flex;
    flex-direction: column; /* Stack title and button vertically */
    align-items: center; /* Center both title and button */
    margin-bottom: 20px;
    width: 100%;
}

.toggleButtonContainer {
    margin-top: 10px; /* Space between title and button */
    display: flex;
    justify-content: center;
    width: 100%;
}

.chartWrapper {
    margin-bottom: 40px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 90vw; /* Set to 90% of the viewport width */
    height: 80vh; /* Set height proportional to the viewport height */
    border: 2px solid #d4798e;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
}

.softRoundedButton {
    padding: 5px 12px;
    font-size: 12px;
    background-color: #f0f0f0;
    color: #5c4ba0;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.softRoundedButton:hover {
    background-color: #e0e0e0;
    color: #4a3a8c;
}
